* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(Images/bg.jpg);
    background-size: cover;
    background-repeat: repeat-x repeat-y;
}

.heading-image {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.zoom {
    transition: all .5s ease-in-out;
}

.zoom:hover {
    transform: scale(1.03);
}

.heading-text h1 {
    font-family: truenoround;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.color-line::before {
    content: "GitHub";
    animation: animate infinite 5s;

}

@keyframes animate {

    0% {
        content: "GitHub";
    }

    50% {
        content: "Linkedin";
    }

    75% {
        content: "Instagram";
    }
}

.color-line {
    color: #9b27f9;
}

.line::before {
    content: "to";
    animation: verb infinite 5s;

}

@keyframes verb {

    0% {
        content: "to";
    }

    50% {
        content: "from";
    }

    75% {
        content: "from";
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    margin: 10px;
    text-align: center;
}

.item h2 {
    font-family: truenoround;
}

.wedding {
    display: flex;
    justify-content: center;
}

h1,
h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-img {
    width: 500px;
}

.rest-img {
    width: 400px;
}

@media (max-width: 600px) {
    .main-img {
        width: 400px;
    }

    .rest-img {
        width: 300px;
    }
}

@media (max-width: 400px) {
    .main-img {
        width: 300px;
    }

    .rest-img {
        width: 250px;
    }
}

.heading-image {
    transition: all .5s ease-in-out;
}

.front {
    position: absolute;
    backface-visibility: hidden;
}

.back {
    backface-visibility: hidden;
    transform: perspective(1000px) rotateY(180deg);
}

.heading-image:hover>.front {
    transform: perspective(1000px) rotateY(-180deg);
}

.heading-image:hover>.back {
    transform: perspective(1000px) rotateY(0deg);
}

.preloader {
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.disappear {
    animation: vanish 1s forwards;
}

@keyframes vanish {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}